{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://dax.amazonaws.com/"
        },
        {
            "url": "http://dax.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "DAX is a managed caching service engineered for Amazon DynamoDB. DAX dramatically speeds up database reads by caching frequently-accessed data from DynamoDB, so applications can access that data with sub-millisecond latency. You can create a DAX cluster easily, using the AWS Management Console. With a few simple modifications to your code, your application can begin taking advantage of the DAX cluster and realize significant improvements in read performance.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon DynamoDB Accelerator (DAX)",
        "version": "2017-04-19",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dax-2017-04-19.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "dax"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/dax/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a DAX cluster. All nodes in the cluster run the same DAX caching software.",
                "operationId": "CreateCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Cluster": {
                                            "description": "A description of the DAX cluster that you have created.",
                                            "properties": {
                                                "ActiveNodes": {
                                                    "description": "The number of nodes in the cluster that are active (i.e., capable of serving requests).",
                                                    "type": "integer"
                                                },
                                                "ClusterArn": {
                                                    "description": "The Amazon Resource Name (ARN) that uniquely identifies the cluster. ",
                                                    "type": "string"
                                                },
                                                "ClusterDiscoveryEndpoint": {
                                                    "description": "The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.",
                                                    "properties": {
                                                        "Address": {
                                                            "description": "The DNS hostname of the endpoint.",
                                                            "type": "string"
                                                        },
                                                        "Port": {
                                                            "description": "The port number that applications should use to connect to the endpoint.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ClusterName": {
                                                    "description": "The name of the DAX cluster.",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "The description of the cluster.",
                                                    "type": "string"
                                                },
                                                "IamRoleArn": {
                                                    "description": "A valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX will assume this role and use the role's permissions to access DynamoDB on your behalf.",
                                                    "type": "string"
                                                },
                                                "NodeIdsToRemove": {
                                                    "description": "A list of nodes to be removed from the cluster.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "NodeType": {
                                                    "description": "The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)",
                                                    "type": "string"
                                                },
                                                "Nodes": {
                                                    "description": "A list of nodes that are currently in the cluster.",
                                                    "items": {
                                                        "description": "Represents an individual node within a DAX cluster.",
                                                        "properties": {
                                                            "AvailabilityZone": {
                                                                "description": "The Availability Zone (AZ) in which the node has been deployed.",
                                                                "type": "string"
                                                            },
                                                            "Endpoint": {
                                                                "description": "The endpoint for the node, consisting of a DNS name and a port number. Client applications can connect directly to a node endpoint, if desired (as an alternative to allowing DAX client software to intelligently route requests and responses to nodes in the DAX cluster.",
                                                                "properties": {
                                                                    "Address": {
                                                                        "description": "The DNS hostname of the endpoint.",
                                                                        "type": "string"
                                                                    },
                                                                    "Port": {
                                                                        "description": "The port number that applications should use to connect to the endpoint.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "NodeCreateTime": {
                                                                "description": "The date and time (in UNIX epoch format) when the node was launched.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "NodeId": {
                                                                "description": "A system-generated identifier for the node.",
                                                                "type": "string"
                                                            },
                                                            "NodeStatus": {
                                                                "description": "The current status of the node. For example: <code>available</code>.",
                                                                "type": "string"
                                                            },
                                                            "ParameterGroupStatus": {
                                                                "description": "The status of the parameter group associated with this node. For example, <code>in-sync</code>.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "NotificationConfiguration": {
                                                    "description": "Describes a notification topic and its status. Notification topics are used for publishing DAX events to subscribers using Amazon Simple Notification Service (SNS).",
                                                    "properties": {
                                                        "TopicArn": {
                                                            "description": "The Amazon Resource Name (ARN) that identifies the topic. ",
                                                            "type": "string"
                                                        },
                                                        "TopicStatus": {
                                                            "description": "The current state of the topic.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ParameterGroup": {
                                                    "description": "The parameter group being used by nodes in the cluster.",
                                                    "properties": {
                                                        "NodeIdsToReboot": {
                                                            "description": "The node IDs of one or more nodes to be rebooted.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "ParameterApplyStatus": {
                                                            "description": "The status of parameter updates. ",
                                                            "type": "string"
                                                        },
                                                        "ParameterGroupName": {
                                                            "description": "The name of the parameter group.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "PreferredMaintenanceWindow": {
                                                    "description": "A range of time when maintenance of DAX cluster software will be performed. For example: <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than 30 minutes, and is performed automatically within the maintenance window.",
                                                    "type": "string"
                                                },
                                                "SSEDescription": {
                                                    "description": "The description of the server-side encryption status on the specified DAX cluster.",
                                                    "properties": {
                                                        "Status": {
                                                            "description": "<p>The current state of server-side encryption:</p> <ul> <li> <p> <code>ENABLING</code> - Server-side encryption is being enabled.</p> </li> <li> <p> <code>ENABLED</code> - Server-side encryption is enabled.</p> </li> <li> <p> <code>DISABLING</code> - Server-side encryption is being disabled.</p> </li> <li> <p> <code>DISABLED</code> - Server-side encryption is disabled.</p> </li> </ul>",
                                                            "enum": [
                                                                "ENABLING",
                                                                "ENABLED",
                                                                "DISABLING",
                                                                "DISABLED"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "SecurityGroups": {
                                                    "description": "A list of security groups, and the status of each, for the nodes in the cluster.",
                                                    "items": {
                                                        "description": "An individual VPC security group and its status.",
                                                        "properties": {
                                                            "SecurityGroupIdentifier": {
                                                                "description": "The unique ID for this security group.",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "The status of this security group.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "Status": {
                                                    "description": "The current status of the cluster.",
                                                    "type": "string"
                                                },
                                                "SubnetGroup": {
                                                    "description": "The subnet group where the DAX cluster is running.",
                                                    "type": "string"
                                                },
                                                "TotalNodes": {
                                                    "description": "The total number of nodes in the cluster.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClusterAlreadyExistsFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidClusterStateFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InsufficientClusterCapacityFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "SubnetGroupNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidParameterGroupStateFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ParameterGroupNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ClusterQuotaForCustomerExceededFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "NodeQuotaForClusterExceededFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "NodeQuotaForCustomerExceededFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "489": {
                        "description": "InvalidVPCNetworkStateFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "490": {
                        "description": "TagQuotaPerResourceExceeded",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "491": {
                        "description": "ServiceLinkedRoleNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "492": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "493": {
                        "description": "InvalidParameterCombinationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AvailabilityZones": {
                                        "description": "The Availability Zones (AZs) in which the cluster nodes will be created. All nodes belonging to the cluster are placed in these Availability Zones. Use this parameter if you want to distribute the nodes across multiple AZs.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "ClusterName": {
                                        "description": "<p>The cluster identifier. This parameter is stored as a lowercase string.</p> <p> <b>Constraints:</b> </p> <ul> <li> <p>A name must contain from 1 to 20 alphanumeric characters or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>A name cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>",
                                        "type": "string"
                                    },
                                    "Description": {
                                        "description": "A description of the cluster.",
                                        "type": "string"
                                    },
                                    "IamRoleArn": {
                                        "description": "A valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX will assume this role and use the role's permissions to access DynamoDB on your behalf.",
                                        "type": "string"
                                    },
                                    "NodeType": {
                                        "description": "The compute and memory capacity of the nodes in the cluster.",
                                        "type": "string"
                                    },
                                    "NotificationTopicArn": {
                                        "description": "<p>The Amazon Resource Name (ARN) of the Amazon SNS topic to which notifications will be sent.</p> <note> <p>The Amazon SNS topic owner must be same as the DAX cluster owner.</p> </note>",
                                        "type": "string"
                                    },
                                    "ParameterGroupName": {
                                        "description": "The parameter group to be associated with the DAX cluster.",
                                        "type": "string"
                                    },
                                    "PreferredMaintenanceWindow": {
                                        "description": "<p>Specifies the weekly time range during which maintenance on the DAX cluster is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum maintenance window is a 60 minute period. Valid values for <code>ddd</code> are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p> <code>mon</code> </p> </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code> </p> </li> <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li> <li> <p> <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:05:00-sun:09:00</code> </p> <note> <p>If you don't specify a preferred maintenance window when you create or modify a cache cluster, DAX assigns a 60-minute maintenance window on a randomly selected day of the week.</p> </note>",
                                        "type": "string"
                                    },
                                    "ReplicationFactor": {
                                        "description": "<p>The number of nodes in the DAX cluster. A replication factor of 1 will create a single-node cluster, without any read replicas. For additional fault tolerance, you can create a multiple node cluster with one or more read replicas. To do this, set <i>ReplicationFactor</i> to 2 or more.</p> <note> <p>AWS recommends that you have at least two read replicas per cluster.</p> </note>",
                                        "type": "integer"
                                    },
                                    "SSESpecification": {
                                        "description": "Represents the settings used to enable server-side encryption on the cluster.",
                                        "properties": {
                                            "Enabled": {
                                                "description": "Indicates whether server-side encryption is enabled (true) or disabled (false) on the cluster.",
                                                "type": "boolean"
                                            }
                                        },
                                        "required": [
                                            "Enabled"
                                        ],
                                        "type": "object"
                                    },
                                    "SecurityGroupIds": {
                                        "description": "<p>A list of security group IDs to be assigned to each node in the DAX cluster. (Each of the security group ID is system-generated.)</p> <p>If this parameter is not specified, DAX assigns the default VPC security group to each node.</p>",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "SubnetGroupName": {
                                        "description": "<p>The name of the subnet group to be used for the replication group.</p> <important> <p>DAX clusters can only run in an Amazon VPC environment. All of the subnets that you specify in a subnet group must exist in the same VPC.</p> </important>",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "A set of tags to associate with the DAX cluster. ",
                                        "items": {
                                            "description": "<p>A description of a tag. Every tag is a key-value pair. You can add up to 50 tags to a single DAX cluster.</p> <p>AWS-assigned tag names and values are automatically assigned the <code>aws:</code> prefix, which the user cannot assign. AWS-assigned tag names do not count towards the tag limit of 50. User-assigned tag names have the prefix <code>user:</code>.</p> <p>You cannot backdate the application of a tag.</p>",
                                            "properties": {
                                                "Key": {
                                                    "description": "The key for the tag. Tag keys are case sensitive. Every DAX cluster can only have one tag with the same key. If you try to add an existing tag (same key), the existing tag value will be updated to the new value.",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value of the tag. Tag values are case-sensitive and can be null. ",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ClusterName",
                                    "NodeType",
                                    "ReplicationFactor",
                                    "IamRoleArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateParameterGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new parameter group. A parameter group is a collection of parameters that you apply to all of the nodes in a DAX cluster.",
                "operationId": "CreateParameterGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ParameterGroup": {
                                            "description": "Represents the output of a <i>CreateParameterGroup</i> action.",
                                            "properties": {
                                                "Description": {
                                                    "description": "A description of the parameter group.",
                                                    "type": "string"
                                                },
                                                "ParameterGroupName": {
                                                    "description": "The name of the parameter group.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ParameterGroupQuotaExceededFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ParameterGroupAlreadyExistsFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterGroupStateFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceLinkedRoleNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidParameterCombinationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Description": {
                                        "description": "A description of the parameter group.",
                                        "type": "string"
                                    },
                                    "ParameterGroupName": {
                                        "description": "The name of the parameter group to apply to all of the clusters in this replication group.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ParameterGroupName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateSubnetGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new subnet group.",
                "operationId": "CreateSubnetGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "SubnetGroup": {
                                            "description": "Represents the output of a <i>CreateSubnetGroup</i> operation.",
                                            "properties": {
                                                "Description": {
                                                    "description": "The description of the subnet group.",
                                                    "type": "string"
                                                },
                                                "SubnetGroupName": {
                                                    "description": "The name of the subnet group.",
                                                    "type": "string"
                                                },
                                                "Subnets": {
                                                    "description": "A list of subnets associated with the subnet group. ",
                                                    "items": {
                                                        "description": "Represents the subnet associated with a DAX cluster. This parameter refers to subnets defined in Amazon Virtual Private Cloud (Amazon VPC) and used with DAX.",
                                                        "properties": {
                                                            "SubnetAvailabilityZone": {
                                                                "description": "The Availability Zone (AZ) for subnet subnet.",
                                                                "type": "string"
                                                            },
                                                            "SubnetIdentifier": {
                                                                "description": "The system-assigned identifier for the subnet.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "VpcId": {
                                                    "description": "The Amazon Virtual Private Cloud identifier (VPC ID) of the subnet group.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "SubnetGroupAlreadyExistsFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "SubnetGroupQuotaExceededFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "SubnetQuotaExceededFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidSubnet",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceLinkedRoleNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Description": {
                                        "description": "A description for the subnet group",
                                        "type": "string"
                                    },
                                    "SubnetGroupName": {
                                        "description": "A name for the subnet group. This value is stored as a lowercase string. ",
                                        "type": "string"
                                    },
                                    "SubnetIds": {
                                        "description": "A list of VPC subnet IDs for the subnet group.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "SubnetGroupName",
                                    "SubnetIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DecreaseReplicationFactor": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Removes one or more nodes from a DAX cluster.</p> <note> <p>You cannot use <code>DecreaseReplicationFactor</code> to remove the last node in a DAX cluster. If you need to do this, use <code>DeleteCluster</code> instead.</p> </note>",
                "operationId": "DecreaseReplicationFactor",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Cluster": {
                                            "description": "A description of the DAX cluster, after you have decreased its replication factor.",
                                            "properties": {
                                                "ActiveNodes": {
                                                    "description": "The number of nodes in the cluster that are active (i.e., capable of serving requests).",
                                                    "type": "integer"
                                                },
                                                "ClusterArn": {
                                                    "description": "The Amazon Resource Name (ARN) that uniquely identifies the cluster. ",
                                                    "type": "string"
                                                },
                                                "ClusterDiscoveryEndpoint": {
                                                    "description": "The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.",
                                                    "properties": {
                                                        "Address": {
                                                            "description": "The DNS hostname of the endpoint.",
                                                            "type": "string"
                                                        },
                                                        "Port": {
                                                            "description": "The port number that applications should use to connect to the endpoint.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ClusterName": {
                                                    "description": "The name of the DAX cluster.",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "The description of the cluster.",
                                                    "type": "string"
                                                },
                                                "IamRoleArn": {
                                                    "description": "A valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX will assume this role and use the role's permissions to access DynamoDB on your behalf.",
                                                    "type": "string"
                                                },
                                                "NodeIdsToRemove": {
                                                    "description": "A list of nodes to be removed from the cluster.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "NodeType": {
                                                    "description": "The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)",
                                                    "type": "string"
                                                },
                                                "Nodes": {
                                                    "description": "A list of nodes that are currently in the cluster.",
                                                    "items": {
                                                        "description": "Represents an individual node within a DAX cluster.",
                                                        "properties": {
                                                            "AvailabilityZone": {
                                                                "description": "The Availability Zone (AZ) in which the node has been deployed.",
                                                                "type": "string"
                                                            },
                                                            "Endpoint": {
                                                                "description": "The endpoint for the node, consisting of a DNS name and a port number. Client applications can connect directly to a node endpoint, if desired (as an alternative to allowing DAX client software to intelligently route requests and responses to nodes in the DAX cluster.",
                                                                "properties": {
                                                                    "Address": {
                                                                        "description": "The DNS hostname of the endpoint.",
                                                                        "type": "string"
                                                                    },
                                                                    "Port": {
                                                                        "description": "The port number that applications should use to connect to the endpoint.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "NodeCreateTime": {
                                                                "description": "The date and time (in UNIX epoch format) when the node was launched.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "NodeId": {
                                                                "description": "A system-generated identifier for the node.",
                                                                "type": "string"
                                                            },
                                                            "NodeStatus": {
                                                                "description": "The current status of the node. For example: <code>available</code>.",
                                                                "type": "string"
                                                            },
                                                            "ParameterGroupStatus": {
                                                                "description": "The status of the parameter group associated with this node. For example, <code>in-sync</code>.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "NotificationConfiguration": {
                                                    "description": "Describes a notification topic and its status. Notification topics are used for publishing DAX events to subscribers using Amazon Simple Notification Service (SNS).",
                                                    "properties": {
                                                        "TopicArn": {
                                                            "description": "The Amazon Resource Name (ARN) that identifies the topic. ",
                                                            "type": "string"
                                                        },
                                                        "TopicStatus": {
                                                            "description": "The current state of the topic.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ParameterGroup": {
                                                    "description": "The parameter group being used by nodes in the cluster.",
                                                    "properties": {
                                                        "NodeIdsToReboot": {
                                                            "description": "The node IDs of one or more nodes to be rebooted.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "ParameterApplyStatus": {
                                                            "description": "The status of parameter updates. ",
                                                            "type": "string"
                                                        },
                                                        "ParameterGroupName": {
                                                            "description": "The name of the parameter group.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "PreferredMaintenanceWindow": {
                                                    "description": "A range of time when maintenance of DAX cluster software will be performed. For example: <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than 30 minutes, and is performed automatically within the maintenance window.",
                                                    "type": "string"
                                                },
                                                "SSEDescription": {
                                                    "description": "The description of the server-side encryption status on the specified DAX cluster.",
                                                    "properties": {
                                                        "Status": {
                                                            "description": "<p>The current state of server-side encryption:</p> <ul> <li> <p> <code>ENABLING</code> - Server-side encryption is being enabled.</p> </li> <li> <p> <code>ENABLED</code> - Server-side encryption is enabled.</p> </li> <li> <p> <code>DISABLING</code> - Server-side encryption is being disabled.</p> </li> <li> <p> <code>DISABLED</code> - Server-side encryption is disabled.</p> </li> </ul>",
                                                            "enum": [
                                                                "ENABLING",
                                                                "ENABLED",
                                                                "DISABLING",
                                                                "DISABLED"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "SecurityGroups": {
                                                    "description": "A list of security groups, and the status of each, for the nodes in the cluster.",
                                                    "items": {
                                                        "description": "An individual VPC security group and its status.",
                                                        "properties": {
                                                            "SecurityGroupIdentifier": {
                                                                "description": "The unique ID for this security group.",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "The status of this security group.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "Status": {
                                                    "description": "The current status of the cluster.",
                                                    "type": "string"
                                                },
                                                "SubnetGroup": {
                                                    "description": "The subnet group where the DAX cluster is running.",
                                                    "type": "string"
                                                },
                                                "TotalNodes": {
                                                    "description": "The total number of nodes in the cluster.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClusterNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NodeNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidClusterStateFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ServiceLinkedRoleNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidParameterCombinationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AvailabilityZones": {
                                        "description": "The Availability Zone(s) from which to remove nodes.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "ClusterName": {
                                        "description": "The name of the DAX cluster from which you want to remove nodes.",
                                        "type": "string"
                                    },
                                    "NewReplicationFactor": {
                                        "description": "The new number of nodes for the DAX cluster.",
                                        "type": "integer"
                                    },
                                    "NodeIdsToRemove": {
                                        "description": "The unique identifiers of the nodes to be removed from the cluster.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ClusterName",
                                    "NewReplicationFactor"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteCluster": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a previously provisioned DAX cluster. <i>DeleteCluster</i> deletes all associated nodes, node endpoints and the DAX cluster itself. When you receive a successful response from this action, DAX immediately begins deleting the cluster; you cannot cancel or revert this action.",
                "operationId": "DeleteCluster",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Cluster": {
                                            "description": "A description of the DAX cluster that is being deleted.",
                                            "properties": {
                                                "ActiveNodes": {
                                                    "description": "The number of nodes in the cluster that are active (i.e., capable of serving requests).",
                                                    "type": "integer"
                                                },
                                                "ClusterArn": {
                                                    "description": "The Amazon Resource Name (ARN) that uniquely identifies the cluster. ",
                                                    "type": "string"
                                                },
                                                "ClusterDiscoveryEndpoint": {
                                                    "description": "The configuration endpoint for this DAX cluster, consisting of a DNS name and a port number. Client applications can specify this endpoint, rather than an individual node endpoint, and allow the DAX client software to intelligently route requests and responses to nodes in the DAX cluster.",
                                                    "properties": {
                                                        "Address": {
                                                            "description": "The DNS hostname of the endpoint.",
                                                            "type": "string"
                                                        },
                                                        "Port": {
                                                            "description": "The port number that applications should use to connect to the endpoint.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ClusterName": {
                                                    "description": "The name of the DAX cluster.",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "The description of the cluster.",
                                                    "type": "string"
                                                },
                                                "IamRoleArn": {
                                                    "description": "A valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX will assume this role and use the role's permissions to access DynamoDB on your behalf.",
                                                    "type": "string"
                                                },
                                                "NodeIdsToRemove": {
                                                    "description": "A list of nodes to be removed from the cluster.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "NodeType": {
                                                    "description": "The node type for the nodes in the cluster. (All nodes in a DAX cluster are of the same type.)",
                                                    "type": "string"
                                                },
                                                "Nodes": {
                                                    "description": "A list of nodes that are currently in the cluster.",
                                                    "items": {
                                                        "description": "Represents an individual node within a DAX cluster.",
                                                        "properties": {
                                                            "AvailabilityZone": {
                                                                "description": "The Availability Zone (AZ) in which the node has been deployed.",
                                                                "type": "string"
                                                            },
                                                            "Endpoint": {
                                                                "description": "The endpoint for the node, consisting of a DNS name and a port number. Client applications can connect directly to a node endpoint, if desired (as an alternative to allowing DAX client software to intelligently route requests and responses to nodes in the DAX cluster.",
                                                                "properties": {
                                                                    "Address": {
                                                                        "description": "The DNS hostname of the endpoint.",
                                                                        "type": "string"
                                                                    },
                                                                    "Port": {
                                                                        "description": "The port number that applications should use to connect to the endpoint.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "NodeCreateTime": {
                                                                "description": "The date and time (in UNIX epoch format) when the node was launched.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "NodeId": {
                                                                "description": "A system-generated identifier for the node.",
                                                                "type": "string"
                                                            },
                                                            "NodeStatus": {
                                                                "description": "The current status of the node. For example: <code>available</code>.",
                                                                "type": "string"
                                                            },
                                                            "ParameterGroupStatus": {
                                                                "description": "The status of the parameter group associated with this node. For example, <code>in-sync</code>.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "NotificationConfiguration": {
                                                    "description": "Describes a notification topic and its status. Notification topics are used for publishing DAX events to subscribers using Amazon Simple Notification Service (SNS).",
                                                    "properties": {
                                                        "TopicArn": {
                                                            "description": "The Amazon Resource Name (ARN) that identifies the topic. ",
                                                            "type": "string"
                                                        },
                                                        "TopicStatus": {
                                                            "description": "The current state of the topic.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ParameterGroup": {
                                                    "description": "The parameter group being used by nodes in the cluster.",
                                                    "properties": {
                                                        "NodeIdsToReboot": {
                                                            "description": "The node IDs of one or more nodes to be rebooted.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "ParameterApplyStatus": {
                                                            "description": "The status of parameter updates. ",
                                                            "type": "string"
                                                        },
                                                        "ParameterGroupName": {
                                                            "description": "The name of the parameter group.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "PreferredMaintenanceWindow": {
                                                    "description": "A range of time when maintenance of DAX cluster software will be performed. For example: <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than 30 minutes, and is performed automatically within the maintenance window.",
                                                    "type": "string"
                                                },
                                                "SSEDescription": {
                                                    "description": "The description of the server-side encryption status on the specified DAX cluster.",
                                                    "properties": {
                                                        "Status": {
                                                            "description": "<p>The current state of server-side encryption:</p> <ul> <li> <p> <code>ENABLING</code> - Server-side encryption is being enabled.</p> </li> <li> <p> <code>ENABLED</code> - Server-side encryption is enabled.</p> </li> <li> <p> <code>DISABLING</code> - Server-side encryption is being disabled.</p> </li> <li> <p> <code>DISABLED</code> - Server-side encryption is disabled.</p> </li> </ul>",
                                                            "enum": [
                                                                "ENABLING",
                                                                "ENABLED",
                                                                "DISABLING",
                                                                "DISABLED"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "SecurityGroups": {
                                                    "description": "A list of security groups, and the status of each, for the nodes in the cluster.",
                                                    "items": {
                                                        "description": "An individual VPC security group and its status.",
                                                        "properties": {
                                                            "SecurityGroupIdentifier": {
                                                                "description": "The unique ID for this security group.",
                                                                "type": "string"
                                                            },
                                                            "Status": {
                                                                "description": "The status of this security group.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "Status": {
                                                    "description": "The current status of the cluster.",
                                                    "type": "string"
                                                },
                                                "SubnetGroup": {
                                                    "description": "The subnet group where the DAX cluster is running.",
                                                    "type": "string"
                                                },
                                                "TotalNodes": {
                                                    "description": "The total number of nodes in the cluster.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ClusterNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidClusterStateFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServiceLinkedRoleNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidParameterCombinationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ClusterName": {
                                        "description": "The name of the cluster to be deleted.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ClusterName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteParameterGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the specified parameter group. You cannot delete a parameter group if it is associated with any DAX clusters.",
                "operationId": "DeleteParameterGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DeletionMessage": {
                                            "description": "A user-specified message for this action (i.e., a reason for deleting the parameter group).",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterGroupStateFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ParameterGroupNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ServiceLinkedRoleNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidParameterCombinationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ParameterGroupName": {
                                        "description": "The name of the parameter group to delete.",
                                        "type": "string"
                                    }
[...]
